<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Customer Details</title>
</head>
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<body>
    <div class="container2">
        <h1>Update Customer Details</h1>
        <form action="{% url 'uprec' cust.id %}" method="post">
            {% csrf_token %}
            <label for="">Vendor Id</label><br><br>
            <input type="text" name="vendor_id" value="{{cust.vendor_id}}"><br><br>
            <label for="">Name</label><br><br>
            <input type="text" name="name" value="{{cust.name}}"><br><br>
            <label for="">Contact Details</label><br><br>
            <input type="text" name="contact_details" value="{{cust.contact_details}}"><br><br>
            <label for="">Address</label><br><br>
            <input type="text" name="address" value="{{cust.address}}"><br><br>
            <label for="">On Time Delivery Rate</label><br><br>
            <input type="text" name="on_time_delivery_rate" value="{{cust.on_time_delivery_rate}}"><br><br>
            <label for="">Quality Rating Avg</label><br><br>
            <input type="text" name="quality_rating_avg" value="{{cust.quality_rating_avg}}"><br><br>
            <label for="">Average Response Time</label><br><br>
            <input type="text" name="average_response_time" value="{{cust.average_response_time}}"><br><br>
            <label for="">Fulfillment Rate</label><br><br>
            <input type="text" name="fulfillment_rate" value="{{cust.fulfillment_rate}}"><br><br>
            <button type="submit" id="new1">Update</button>
        </form>

    </div>
</body>

</html>